@charset "utf-8"
@import
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

.column {
    width: 100%;
}

.lightunder{
	background-color: #de5e4e
	margin-top:5em;
	top: 0;
	position: absolute;
	min-height: 100%;
}

.first {
    margin-left: 0;
}

.wrap {
	border: solid 1px #de2910;
	background-color: #de2910;
	top: 0;
	width: 100%
	height: auto;
    margin: 0 auto -7.3vw; /* footer height + space */
    min-height: 100%;
    padding: 0 0 7.3vw; /* footer height + space */
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 3.6vw
}

body {
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.8vw;
	line-height: auto;
	background-color: #a13030;
    float: center;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
header {
	font-weight: 900;
	z-index: 2;
    line-height: auto;
}



.under {
    display: inline;
    height: 8vw; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    background-color: #b33424; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top:5em;
    float: left;
}

.sidenav {
    display: block;
    height: 8vw; /* Full-height: remove this if you want "auto" height */
    width: 100%;
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    background-color: #b33424; /* Black */
    max-width: 100%;
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top:5em;
    margin-left: 13vw;
    float: center;
}


.sidenav a {
    text-decoration: none;
    font-size: 2.4vw;
    line-height: 1.125vw;
    padding-left: 1vw;
    padding-right: 1vw;
    float: left;
    overflow: hidden;
    text-align: center;
}


.content {
    background-color: white;
    margin-top: 5vw;
    margin-right: 1vw;
    margin-left: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vw;
    text-align: left;
    height: 100%
}

img {
    max-width: 66vw;
    max-height: 44vw;
}

#No {
    padding: 0;
    margin: 6.25em;
    font-family: 'Roboto', sans-serif;
    font-size: 20vw;
    line-height: auto;
    display: table-cell;
    vertical-align: middle;
    float: center;
    width: 100%;
}

footer {
    margin-left: 0;
}